name: CI-CD Deploy

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Backend Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/dd_task-backend ./backend

      - name: Build Frontend Image
        run: docker build -t ${{ secrets.DOCKER_USERNAME }}/dd_task-frontend ./frontend

      - name: Push Backend Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/dd_task-backend

      - name: Push Frontend Image
        run: docker push ${{ secrets.DOCKER_USERNAME }}/dd_task-frontend

      - name: Deploy to EC2
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.EC2_HOST }}
          username: ${{ secrets.EC2_USER }}
          key: ${{ secrets.EC2_SSH_KEY }}
          script: |
            docker pull ${{ secrets.DOCKER_USERNAME }}/dd_task-backend
            docker pull ${{ secrets.DOCKER_USERNAME }}/dd_task-frontend
            docker-compose down
            docker-compose up -d